.underline {
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0 bottom 0;
}

.weave-green {
    background-image: repeating-linear-gradient(135deg, #68D391 0px, #68D391 7px,transparent 7px, transparent 14px),repeating-linear-gradient(45deg, #48BB78 0px, #38A169 7px,transparent 7px, transparent 14px),repeating-linear-gradient(135deg, #FFF 0px, #FFF 7px,#FFF 7px, #FFF 14px);
}


@keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    